/* Estilos para el body y html para eliminar scroll */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Elimina los scrolls */
}

/* Estiliza el contenedor principal */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104vh; /* Ocupa toda la altura de la ventana */
  width: 104vw; /* Ocupa toda la anchura de la ventana */
  position: relative;
}

/* Contenedor de la imagen de fondo con desenfoque */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/f1.jpg');
  background-size: cover; /* Hace que la imagen cubra todo el espacio */
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px); /* Solo la imagen se desenfoca */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

.content-overlay {
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar la legibilidad */
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}




.welcome-title {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

.description {
  color: #d1d1d1;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Botón de Consulta */
.consulta-button, .github-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 10px;
}

/* Botón de Consulta estilo */
.consulta-button {
  background: linear-gradient(45deg, #617faa, #56708f);
  color: #fff3f3;
  box-shadow: 0px 4px 8px rgba(76, 134, 175, 0.4);
}

.consulta-button:hover {
  background: linear-gradient(45deg, #4585a0, #6699bb);
  box-shadow: 0px 6px 10px rgba(76, 144, 175, 0.6);
  transform: scale(1.05);
}

/* Botón de GitHub estilo */
.github-button {
  background-color: #d0cfc2;
  color: #413f3f;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.4);
}

.github-button:hover {
  background-color: #555;
  box-shadow: 0px 6px 10px rgba(51, 51, 51, 0.6);
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Enfoque personalizado */
.consulta-button:focus, .github-button:focus {
  outline: 2px solid #498cab;
  outline-offset: 4px;
}
